html {
    overflow: hidden;
}

#caption{
padding-bottom: 24vh;
}

form {
    margin: 0 auto;
}

label {
    color: white;
}

#message {
    width: 22vw;
}

@media (max-width: 768px) {
    #caption {
        padding-bottom: 20vh;
    }

    #message {
        width: 62vw;
    }
}