html {
    overflow: hidden;
}

.navbar {
    background: rgba(0, 0, 0, 0.5); 
}

.first {
    font-size: 1.5em;
    color: #191970;
}

.second {
    font-size: 1.5em;
    color: rgba(255,255,255, 0.8);
}

.nav-link {
    color: rgba(255,255,255, 0.8)
}

#caption{
padding-bottom: 24vh;
}

form {
    margin: 0 auto;
}

label {
    color: white;
}

#message {
    width: 22vw;
}

@media (max-width: 768px) {
    #caption {
        padding-bottom: 20vh;
    }

    #message {
        width: 62vw;
    }
}